body {
    background-color: #e61919;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ba0018;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px; 
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

header {
    margin-left: 300px; 
    text-align: left;
}

header h1 {
    font-family: Arial, sans-serif; 
    color: #ffffff; 
    text-decoration: none; 
    font-size: 2.5em;
}

header p {
    font-family: Arial, sans-serif;
    color: #ffffff; 
    text-decoration: none; 
    font-size: 1.2em; 
}
nav img.nav-logo {
    height: 50px; 
    margin-right: 10px; 
}

.header-image {
    display: block;
    margin: 20px auto; /* Center the image and add some margin */
    max-width: 100%; /* Ensure the image is responsive */
    height: 100px; /* Maintain the aspect ratio */
}